# Install these dependencies using pip
python3 -m venv venv
source venv/bin/activate  # On Windows use `venv\Scripts\activate`

pip install opencv-python
pip install pytesseract

sudo apt update
sudo apt install tesseract-ocr -y
sudo apt install libtesseract-dev -y
sudo apt install imagemagick -y

pip install fer

sudo apt install -y libgl1

chmod +x text2jpg.sh
./text2jpg.sh "Hello from CodyNick!"

python3 top.py "samples/hello.png"
python3 emotion.py "samples/Happy.jpg"
